* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;
}
.note-body {
    margin: auto;
    width: 350px;
}

.note-body form{
    position: relative;
}

.note-body input{ 
    outline: none;
     background-color: transparent; 
     border: none;
     width: 320px;
} 
@media screen and (max-width: 576px) {
    .note-body {
        width: 225px;
    }
    .note-body input {
        width: 200px;
    }
    textarea {
        width: 200px;
        border: none;
        background-color: transparent; 
    }
}

.note-body input::placeholder{
    color: #0cc6eb;
    font-weight: 400px;
}

.note-body textarea::placeholder{
    color: #0cc6eb;
    font-weight: 400px;
}

@media  screen and (min-width: 576px) {
    textarea {
        outline: none;
         background-color: transparent; 
         border: none;
         width: 320px;
    }
}

.note-button{
    width: 50px;
    height:  50px;
    position: absolute;
    background-color: black;
    color: whitesmoke;
    right: 0;
    border: whitesmoke solid 3px;
    border-radius: 80%;
    }
.note-button:hover{
    background-color: #0cc6eb;
    color: black;
    
}
.note-body i {
    font-size: 20px;
}

.todo-item {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    /* width: 240px; */
    border: 2px black solid;

    /* height: 180px; */
    /* margin: 16px; */
}
/* .todo-item button{
    width: 15px;
} */

.list-control {
    /* display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center; */
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 15px;
    margin-top: 10px;
}

.item-edit-control {
    display: flex;
    justify-content: end;
    /* align-items: end; */
    
}

footer {
    /* display: relative; */
}

/* footer div{
    position: absolute;
        width: 100%;
        color: black;
        font-weight: bold;
        text-align: center;
        bottom:0;
} */