.note-body {
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
    width: 350px;
    /* width: 70px; */
    /* margin-left:  280px; */
    /* margin-right: 280px; */
}

.note-body form{
    position: relative;

}

.note-body input{ 
    outline: none;
    /* width: 20%;  */
     background-color: transparent; 
     border: none;
} 

textarea {
    outline: none;
    /* width: 20%;  */
     background-color: transparent; 
     border: none;
}

.note-button{
    width: 50px;
    height:  50px;
    position: absolute;
    right: 0;
    border: whitesmoke solid 3px;
    border-radius: 80%;
    /* border: 0; */
    }
.note-button:hover{
    background-color: cyan;
    color: black;
    
}
.note-body i {
    /* font-size: large; */
    font-size: 20px;
}

.todo-body {
    /* width: 25%;
    display: inline-block;
    margin: 3px;
    
    background-color: whitesmoke;
    border-radius: 9px;
    margin-top: 20px;
    padding: 5px; */

    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    display: inline-block;
    float: left;
}
/* .todo-body button{
    width: 15px;
} */

footer {
    display: relative;
}

footer div{
    position: absolute;
        width: 100%;
        color: black;
        font-weight: bold;
        /* line-height: 40px; */
        /* font-size: 0.7em; */
        text-align: center;
        bottom:0;
}